{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} / <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>{% endblock %}

{% block page_header %}{% translate 'Password change' %}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li>
        <a href="{% url 'admin:index' %}">
            <i class="fas fa-home"></i>
        </a>
    </li>
    <li><span>{% translate 'Password change' %}</span></li>
</ol>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<p>{% translate 'Your password was changed.' %}</p>
{% endblock %}
